* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
  background: linear-gradient(to right, #CADEFD, #BFD4EC);
}

.arrow-detail {
  position: absolute;
  left: 64%;
  top: 26%;
}

.qrcode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  padding: 35px;
  background: #fcfcfc;
  box-shadow: 0px 0px 13px 0px rgba(39, 39, 39, 0.185);
  border-radius: 15px;
}

.qr-code {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.link-input {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.titulo-cores {
  width: 100%;
}

.qr-code-customization {
  justify-content: space-between;

  .customization-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .input-container {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow:hidden;
    flex-direction: column;
  }

  .customization-container-2 {
    padding-top: 20px;
    display: flex;
    align-items: stretch;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .input-file {
    opacity: 0;
    width: 270px;
    position: absolute;
    cursor: pointer;
  }

  .input-file-button {
    background: linear-gradient(to right, #c21a1a, #b31111);
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

}

.input-box {
  display: flex;
  flex-direction: column !important;
  gap: 2px;
}

#link {
  box-shadow: 0px 0px 7px rgba(113, 113, 113, 0.211);
  border-radius: 5px;
  border: 2px solid #5e010146;
  padding: 5px;
}

#link:focus {
  border: 2px solid #5978a8 !important;
}

.input-color {
  width: 100%;
  background: transparent;
  cursor: pointer;
  border: none;
  height: 30px;
  border-radius: 15px;
}

#logo-size {
  box-shadow: 0px 0px 7px rgba(113, 113, 113, 0.211);
  border-radius: 5px;
  border: 2px solid #5e010146;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  appearance: none;
  background: url("../../public/chevron-down.svg");
  background: cover;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;

  &:focus {
    outline: 2px solid #B41212 !important;
  }
}

.button-qrcode {
  margin-top: 10px;
  background: linear-gradient(to right, #c21a1a, #b31111);
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(to right, #920f0f, #650404);
  }
}


@media screen and (max-width:700px) {
  .container {
    padding: 22px 5px;
    gap: 16px;

    .title-container {
      .arrow-detail {
        display: none;
      }
    }

    .qrcode-container {
      flex-direction: column !important;
      width: 100%;

      .qr-code {
        width: 100%;
      }


    }

    .qrcode-container {
      width: 100%;
      gap: 50px !important;
    }

    .qr-code {
      align-items: stretch;
      width: 100%;
    }

    #link {
      width: 100%;
    }

    .qr-code-preview {
      align-items: center;
    }
  }
}